.VistaPrincipal{
    background-color: black;
    background-size: cover;
    min-height: 100vh;   
}

h2 {
    font-size: 5.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;
}

