*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.crearUsuario {
    width: 400px;
    background-color: rgba(44, 44, 37, 0.61);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    box-shadow: 7px 13px 13px rgba(122, 4, 97, 0.623);
      
}

.crearUsuario h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    color: rgb(247, 240, 245);
}

.inputCrearUsuario{
    width: 100%;
    background-color: rgb(217, 238, 231);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(175, 7, 241);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.crearUsuario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.crearUsuario a {
    color: rgb(14, 203, 236);
    text-decoration: none;
}

.crearUsuario a:hover {
    color: white;
    text-decoration: underline;
}

.botonCrearUsuario{
    width: 100%;
    border: none;
    background: rgb(221, 245, 6);
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;

}
