header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 4em;
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    align-items: center;
    border-top: 2px solid #9c27b0;
  }
  .enlaces {
    display: inline;
    font-size: 23px;
    padding: 10px;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
  }
  .enlaces:hover {
    background-color: rgba(17, 19, 18, 0.301);
    border: 2px solid rgb(173, 41, 199);
    box-shadow: 0px 0px 3px 3px rgb(58, 59, 59);
  }
  .enlaces a {
    text-decoration: none;
    color: rgb(243, 242, 243);
  }

  .logo{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -53px;
    left: 0px;
}